$primary: #b042b3;
$secondary: #a49393;
$secondaryLight: rgba(
  $color: $secondary,
  $alpha: 0.55
);
$contrast: #67595e;
$lighten: #eed6d3;
$lighten2: #e8b4b8;
$darken: #393939;
$darken2: #1b1b1b;
$white: #fff;
$black: #000;

$success: #b4f8c8;
$warning: #fbe7c6;
$danger: #ffaebc;
$info: #a0e7e5;

$successDark: #6d9053;
$warningDark: #f5b537;
$dangerDark: #bc5d5d;

$dark: #1b1b1b;
$dark2: #282828;
$dark3: #393939;

$grey0: #eee;
$grey1: #f4f8f9;
$grey2: #e5e5e5;
$grey3: #c7c7c7;
$grey4: #b5b5b5;
$grey5: #a5a5a5;
$grey6: #555555;

$dialogRadius: 12px;
$btnRadius: 4px;

$headerHeight: 68px;

$letterSpacing: 1.25px;

$spacingS: 0.25rem;
$spacingSM: 0.5rem;
$spacingM: 0.75rem;
$spacingML: 1rem;
$spacingL: 1.25rem;
$spacingXL: 1.5rem;
$spacingXXL: 1.75rem;

$fzS: 0.5rem;
$fzSM: 0.75rem;
$fzSMM: 0.85rem;
$fzM: 1rem;
$fzML: 1.25rem;
$fzL: 1.5rem;
$fzXL: 1.75rem;
$fzXXL: 2rem;

$xl-breakpoint: 1024px;
$lg-breakpoint: 768px;
$md-breakpoint: 570px;
$sm-breakpoint: 375px;
