// $primary: #E8B4B8;
$primary: #B042B3;
$secondary: #A49393;
$secondaryLight: rgba($color: $secondary, $alpha: .55);
$contrast: #67595E;
$lighten: #EED6D3;
$lighten2: #E8B4B8;
$darken: #393939;
$darken2: #1b1b1b;
$white: #fff;
$black: #000;

$success: #B4F8C8;
$warning: #FBE7C6;
$danger: #FFAEBC;
$info: #A0E7E5;

$successDark: #6d9053;
$warningDark: #f5b537;
$dangerDark: #bc5d5d;

$dark: #1b1b1b;
$dark2: #282828;
$dark3: #393939;

$grey0: #eee;
$grey1: #f4f8f9;
$grey2: #e5e5e5;
$grey3: #c7c7c7;
$grey4: #b5b5b5;
$grey5: #a5a5a5;
$grey6: #555555;

$dialogRadius: 12px;
$btnRadius: 4px;

$headerHeight: 58px;

$letterSpacing: 1.25px;

$spacingS: .25rem;
$spacingSM: .5rem;
$spacingM: .75rem;
$spacingML: 1rem;
$spacingL: 1.25rem;
$spacingXL: 1.5rem;
$spacingXXL: 1.75rem;

$fzS: .5rem;
$fzSM: .75rem;
$fzSMM: .85rem;
$fzM: 1rem;
$fzML: 1.25rem;
$fzL: 1.5rem;
$fzXL: 1.75rem;
$fzXXL: 2rem;

$xl-breakpoint: 1024px;
$lg-breakpoint: 768px;
$md-breakpoint: 570px;
$sm-breakpoint: 375px;
