@import './utils/reset';
@import './utils/variables';
@import './utils/fonts';
@import './utils/utils';
@import './utils/media';
@import './utils/transition';

@import './components/btn';

body {
  width: 100vw;
  min-width: 320px;
  overflow-x: hidden;
}
